---
title: Anfängerkrebs Podcast
permalink: /
---

<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,800,900&display=swap" rel="stylesheet"> 

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/css/grayscale.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de" data-size="small" data-json-data="podcastData" data-colors="red;green;blue" data-buttonid="123abc" data-hide="true"></script>

  {% include podlove-podcastData.html %}

</head>

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container flex-column h-100 d-flex justify-content-start">
      <div class="mx-auto my-auto text-center">
        <h1>
          <span class="d-sm-none d-inline">
            Anfänger krebs
          </span>
          <span class="d-none d-sm-inline">
            Anfängerkrebs
          </span>
        </h1>
        <h2 class="mx-auto text-white-50">Diagnose: Hodgkin Lymphom<br />Könnte schlimmer sein. Aber auch deutlich besser.</h2>
      </div>
      <div class="mx-auto text-center">
        <div class="audio-player">
          <p>
            <audio controls preload="metadata">
              <source src="/assets/audio/trailer.mp3" type="audio/mpeg">
            </audio>
          </p>
          <!-- <a href="#" class="btn btn-primary js-scroll-trigger podlove-subscribe-button-123abc"><i class="fas fa-podcast"></i> Podcast abonnieren</a> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          {% include stefan_wintermeyer.html %}
        </div>

        <div class="col-md-6 mb-3 mb-md-0">
          {% include thomas_reintjes.html %}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}

</body>
</html>
