---
title: Anfängerkrebs Podcast
permalink: /
---

<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Stefan Wintermeyer">

  <title>Anfängerkrebs Podcast</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,800,900&display=swap" rel="stylesheet"> 



  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/css/grayscale.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de" data-size="small" data-json-data="podcastData" data-colors="red;green;blue" data-buttonid="123abc" data-hide="true"></script>

  <script>
    window.podcastData = {
      "title": "Anfängerkrebs",
      "subtitle": "Tim and Mark talk about the Newz™",
      "description": "Newz of the World is a weekly show about world news. Mark Fonseca Rendeiro and Tim Pritlove come together to present interesting reports and discuss their aspects and possible consequences. Newz of the world wants to be an alternative window to the common media flow and cherry picks interesting developments for you.",
      "cover": "http://meta.metaebene.me/media/newz/newz-logo-600x600.jpg",
      "feeds": [
        {
          "type": "audio",
          "format": "mp3",
          "url": "https://www.anfaengerkrebs.de/feeds/mp3.rss",
          "variant": "high"
        },
        {
          "type": "audio",
          "format": "aac",
          "url": "https://www.anfaengerkrebs.de/feeds/mp4.rss",
          "variant": "high",
          "directory-url-itunes": "https://itunes.apple.com/de/podcast/newz-of-the-world/id492588543"
        },
        {
          "type": "audio",
          "format": "ogg",
          "url": "https://www.anfaengerkrebs.de/feeds/ogg.rss",
          "variant": "high"
        }
      ]
    }
  </script>

</head>

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container flex-column h-100 d-flex justify-content-start">
      <div class="mx-auto my-auto text-center">
        <h1>
          <span class="d-sm-none d-inline">
            Anfänger krebs
          </span>
          <span class="d-none d-sm-inline">
            Anfängerkrebs
          </span>
        </h1>
        <h2 class="mx-auto text-white-50">Diagnose: Hodgkin Lymphom<br />Neugierig wie es ausgeht? - Ich auch.</h2>
      </div>
      <div class="mx-auto text-center">
        <div class="audio-player">
          <p>
            <audio controls>
              <source src="/assets/audio/trailer.mp3" type="audio/mpeg">
            </audio>
          </p>
          <a href="#about" class="btn btn-primary js-scroll-trigger podlove-subscribe-button-123abc"><i class="fas fa-podcast"></i> Podcast abonnieren</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          {% include stefan_wintermeyer.html %}
        </div>

        <div class="col-md-6 mb-3 mb-md-0">
          {% include thomas_reintjes.html %}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
