<div class="card py-4 h-100">
  <div class="card-body">
    <blockquote class="mb-5 mb-sm-0">
      <h2>Links</h2>
      <ul>
        <li><a href="https://www.ghsg.org">Deutsche Hodgkin Studiengruppe
            (GHSG)</a></li>
        <li><a
            href="https://www.betterplace.org/de/projects/53764-spenden-fur-die-krebsforschung-hodgkin-lymphom">Spenden
            für die Krebsforschung/Hodgkin Lymphom</a><br />Das liegt mir
          sehr am Herzen. Ich würde mich freuen, wenn Sie hier mit einer
          kleinen Spende mithelfen könnten.</li>
        <li><a href="https://www.wpe-uk.de">Westdeutsches
            Protonentherapiezentrum
            Essen (WPE)</a></li>
      </ul>
    </blockquote>
  </div>

</div>