<script>
  window.podcastData = {
    "title": "Anfängerkrebs",
    "subtitle": "{{ site.subtitle | xml_escape }}",
    "description": "{{ site.description | xml_escape }}",
    "cover": "{{ site.url }}/assets/img/cover-art.png",
    "feeds": [
      {
        "type": "audio",
        "format": "mp3",
        "url": "{{ site.url }}/feeds/mp3.xml",
        "variant": "high"
      },
      {
        "type": "audio",
        "format": "aac",
        "url": "{{ site.url }}/feeds/m4a.xml",
        "variant": "high",
        "directory-url-itunes": "https://podcasts.apple.com/de/podcast/anf%C3%A4ngerkrebs/id1495547049"
      }
    ]
  }
</script>