<script>
  window.podcastData = {
    "title": "Anfängerkrebs",
    "subtitle": "Diagnose: Hodgkin Lymphom",
    "description": "",
    "cover": "{{ site.baseurl }}/assets/img/cover-art.png",
    "feeds": [
      {
        "type": "audio",
        "format": "mp3",
        "url": "https://www.anfaengerkrebs.de/feeds/mp3.rss",
        "variant": "high"
      },
      {
        "type": "audio",
        "format": "aac",
        "url": "https://www.anfaengerkrebs.de/feeds/m4a.rss",
        "variant": "high",
        "directory-url-itunes": "https://itunes.apple.com/de/podcast/newz-of-the-world/id492588543"
      }
    ]
  }
</script>