<div class="card py-4 h-100">
  <div class="card-body text-center">
    <blockquote class="text-center mb-5 mb-sm-0">
      <img src="https://www.gravatar.com/avatar/bf17ce921cca4b00b18381abea305c50" class="avatar avatar-lg mb-3" alt="Foto von Stefan Wintermeyer">
      <cite class="d-block h5 mb-1">Stefan Wintermeyer</cite>
      <span class="small text-muted text-uppercase">Podcaster und Patient</span>
       <p class="quote text-muted mt-3 mb-0">Ursprünglich nur Reise-Podcaster: <a href="https://www.reisepassnummer.de">reisepassnummer.de</a><br/> 
       Aber manche Podcast-Themen fallen einem einfach so vor die Füße. Allerdings sind die Opportunitätskosten für einen Podcast über Krebs, erzählt aus der Ich-Perspektive, ziemlich hoch.</p>
    </blockquote>
  </div>
  <div class="d-flex justify-content-center">
    <a href="https://www.wintermeyer.de" class="mx-2">
      <i class="fas fa-home"></i>
    </a>
    <a href="https://twitter.com/wintermeyer" class="mx-2">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://facebook.com/stefan.wintermeyer" class="mx-2">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://github.com/wintermeyer" class="mx-2">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:stefan@wintermeyer.de" class="mx-2">
      <i class="far fa-envelope"></i>
    </a>
  </div>
</div>