<div class="card py-4 h-100">
  <div class="card-body text-center">
    <blockquote class="text-center mb-5 mb-sm-0">
      <img src="https://reidio.io/images/portrait.jpg" class="avatar avatar-lg mb-3" alt="Tim Schoch">
      <cite class="d-block h5 mb-1">Thomas Reintjes</cite>
      <span class="small text-muted text-uppercase">Radio Producer</span>
      <p class="quote text-muted mt-3 mb-0">radio producer since 1999, science journalism entrepreneur since 2004, German in New York since 2013.</p>
    </blockquote>
  </div>
  <div class="d-flex justify-content-center">
    <a href="https://reidio.io" class="mx-2">
      <i class="fas fa-home"></i>
    </a>
    <a href="https://twitter.com/tomtjes" class="mx-2">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/t.reintjes" class="mx-2">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://github.com/tomtjes" class="mx-2">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
