<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@wintermeyer" />
<meta name="twitter:image" content="https://www.anfaengerkrebs.de/assets/img/twitter-card-image.jpg" />
<meta name="twitter:description" content="{{ site.subtitle | xml_escape }}" />
<meta name="twitter:image:alt" content="Screenshot der Homepage" />

<meta property="og:url" content="https://www.anfaengerkrebs.de" />
<meta property="og:title" content="Anfängerkrebs Podcast" />
<meta property="og:description" content="{{ site.subtitle | xml_escape }}" />
<meta property="og:image" content="https://www.anfaengerkrebs.de/assets/img/twitter-card-image.jpg" />